html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: #ffffff;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 30px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-right: 50px;
}

.nav-item {
  font-family: "Lato";
  padding: 10px 30px;
  font-style: normal;
  font-size: 18px;
}

.nav-item a {
  color: #aaaaaa;
  text-decoration: none;
}

.nav-item a:hover {
  text-decoration: underline;
}

.nav-item.current a{
  font-weight: 900;
  color: #666666;
}

.my-logo {
  display: inline-block;c
  position: absolute;
  vertical-align: middle;
  width: 131.9px;
  height: 12px;
  left: 30px;
  margin-left: 50px;
}

#hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  column-gap: 1.5em;
  
  /* column-gap: 1.5em;
  row-gap: 3em;*/
}

.intro {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  flex-wrap: nowrap;
  column-gap: 1.5em;
  width: 700px;
}

.profile {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

h1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #888888;
}

h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #888888;
}

.profile-pic {
  max-width: 100%;
  /*border-radius: 100%;*/
  clip-path: circle();
  width: 220px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
  /*border-radius: 11px 11px 0px 0px;
  object-fit: cover;*/
}

img {
  max-width: 100%;
  vertical-align: bottom;
  align: center;
  /*border-radius: 100%;*/
  /*clip-path: circle();
  height: 160px;
  border-radius: 11px 11px 0px 0px;
  object-fit: cover;*/
}


p, ul, li{
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #aaaaaa;
  line-height: 1.6;
}

ul {
  margin-top: -10px;
}

p.tagline{
  color: #F78349;
  font-weight: 700;
  margin-top: -20px;
}

p.title{
  font-weight: 700;
  color: #898888;
}

p.location{
   margin-top: -20px;
}

footer {
  text-align: center;
  padding: 3px;
  margin-top: 50px;
  background-color: #888888;
  color: #454242;
}

@media screen and (max-width: 800px) {
  .nav{
  flex-direction: column;
}
  .my-logo {
  margin-left: 0;
}
}
